<br /><br />
Bonjour,<br />
<br />
Une réinitialisation de mot de passe a été demandée pour votre compte sur l'application de gestion sportive de tir à l'arc.<br />
<br /><br />
Pour définir un nouveau mot de passe, suivez ce lien,:<br />
<a href="{{ absolute_url(path('security_mdp_reset', {'token': token})) }}">réinitialiser le mot de passe</a>
<br /><br />
Sportivement
